#left-container {
    max-height: 610px;
}

#right-container {
    background-color: #B8E1D9;
    max-height: 555px;
}

.container {
    background-color: #B8E1D9;
    height: 100%;
    max-height: 600px;
    margin: 10px;
    padding-left: 10px;
    padding: .2rem;
    min-height: 310px;
    overflow-y: scroll;
    overflow-y: scroll;
    border-radius: 10px;
    box-shadow: 0 16px 70px -12.125px rgba(0,0,0,0.3)
}

.list-products {
    overflow-x: scroll;
    overflow-y: scroll;
    width: 100%;
}

#title-div {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    margin-left: calc(50% - 2.2rem);
    margin-top: 10px;
    margin-bottom: 10px;
}

#title {   
    margin-left: .5rem; 
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.cell-content {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 100px;
}

.icon {
    cursor: pointer;
}

#table-purchases-items {
    max-height: 430px;
    overflow-y: scroll;
    height: calc(94%);
}

#info-purchase {
    background-color: #F0F0F8;
    border-radius: 10px;
    padding: .8rem .7rem 0.9rem 0.7rem;
    font-weight: bold;
}

.rigthInfo {
    float: right;
    margin-right: .7rem;
}

.sections-options {
    margin-left: .7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.button-option {
    height: 5rem;
}

/* modal sales */
.card-item {
    height: 90%;
    cursor: pointer;
    width: 145px;
}

.card-mobile {
    margin: 12px;
}

.card-desktop {
    margin: 16px;
}

.card-content {
    padding-top: 0px;
    padding-bottom: 10px;
}

.box-container {
    background-color: #5EBAA6;
    height: 85vh;
    margin-top: 4rem;
    width: 100%;
    overflow-y: scroll;
    border-radius: 10px;
}

.close-modal {
    float: right;
    padding-right: 10px;
    padding-top: 10px;
}

.modal-body {
    padding-top: 0px !important;
}