html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: whitesmoke;
}

div#root {
  height: 100%; /* remove this line to see div.app is no more 100% height */
  width: 100%;
}

div.app {
  height: 100%;
  width: 100%;
}